.wrapper {
  position: relative;
  padding: 218px 0;
  background-image: url('../images/bg_2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.title {
  color: #fff;
  margin-bottom: 73px;
  text-align: center;
  font-family: PingFang SC;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}

.listWrapper {
  overflow-x: auto;
}

.cardList {
  width: 1440px;
  margin: 0 auto;
}

.card {
  display: inline-flex;
  width: 320px;
  min-height: 360px;
  margin: 0 10px;
  padding: 26px 20px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-radius: 10px;
  background: linear-gradient(180deg, #16161a 0%, rgba(22, 22, 26, 0) 100%);
  backdrop-filter: blur(20px);
}

.card img {
  width: 48px;
  height: 48px;
}

.cardTitle {
  color: #fff;
  text-align: center;
  font-family: PingFang SC;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 130.435% */
}

.cardContent {
  color: rgba(255, 255, 255, 0.6);
  font-family: PingFang SC;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

@media screen and (max-width: 1440px) {
  .title {
    margin-bottom: 24px;
  }
  .cardList {
    width: 920px;
    .card {
      width: 420px;
      min-height: 300px;
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 48px 0;
    background-size: auto;
    background-position: center;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .cardList {
    width: 720px;
    .card {
      width: 320px;
      margin-top: 20px;

      .cardTitle {
        font-size: 16px;
      }

      .cardContent {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cardList {
    width: 360px;
  }
}
