@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background: 7, 1, 15;
  --active-rgb: 192, 17, 236;
  --font-harmony: 'HarmonyOS Sans SC';
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

button {
  outline: none;
}

.container {
  max-width: 1440px;
}

.blur-background {
  background: rgba(var(--background), 0.1);
  backdrop-filter: blur(6px);
}
