.wrapper {
  position: relative;
  padding-top: 76px;
  margin-bottom: 94px;
  background-image: url('../images/bg_4.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.title {
  color: #fff;
  margin-bottom: 73px;
  text-align: center;
  font-family: PingFang SC;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}
