.nav {
  position: relative;
  height: 76px;
  line-height: 76px;
  color: rgba(255, 255, 255, 0.5);
}

.nav.active {
  color: rgb(var(--foreground-color));
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 12px;
  left: 4px;
  width: calc(100% - 8px);
  height: 3px;
  background-color: rgb(var(--active-rgb));
  border-radius: 2px;
}
